*, *::before, *::after {
    box-sizing: border-box;  
}

html, 
body {
    margin: 0;
    padding: 0;
    font-family:  "Source Sans 3", sans-serif;
    background-color: #FAFAFA;
}

p{
    margin: 0;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
  }

body{
    display: grid;
    grid-template-columns: 1.25em 1fr 1.25em;
    grid-template-areas: 
    "head head head"
    ".... main ...."
    ".... artc ...."
    "foot foot foot";
}


header{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin: 0;
    grid-area: head;
    align-items: center;
    padding: 1em 1.25em;
}

.main-section {
    grid-area: main;
    padding: 2em 0 3.1875em 0;
    color: #fff;
    max-width: 100%;
}

.articles-section{
    grid-area: artc;
    
}

footer{
    grid-area: foot;
    background-color: #202020;
    text-align: center;
    padding: 2.3125em 0;
    margin-top: 3.5em;
}

.name-container{
    display: flex;
    gap: 0.25em;
    justify-content: space-between;
    align-items: center;
    
}

.logo-img{
    max-width: 1.4375em;
    max-height: 1.4375em;
}

nav ul{
    display: flex;
    list-style: none;
    margin:0;
    gap: 1.875em;
}

nav ul li{
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
}


h1{
    font-family: "Roboto", serif;
    font-weight: bold;
    font-size: 0.846875rem;
    margin: 0;
}


.main-section p, .main-section h2{
    color: #151515;
}


.main-img{
    width: 100%;
}


h2{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0.667em;
    margin-bottom: 0;
}

.article-subheader{
    font-weight: bold;
    margin-top: 2.25em;
}

.subheader-text{
    margin-top: 1.6875em;
    margin-bottom: 2.25em;
}

.main-text{
    margin-top: 1em;
}

.main-date{
    font-size: 0.75rem;
}

article{
    margin-top: 2.125em;
    
}

.article-date{
    font-size: 0.875rem;
    margin-top: 1em;
    margin-bottom: .643em;

}

.article-header{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .374em;

}

.article-text{
    color: #505050;
}

article img{
    width: 100%;
}

.articles-section a{
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
}

.articles-container{
    display: grid;
    gap: 1em;  
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))
}

.footer-text{
    font-weight: bold;
    color: #ECECEC;
}

.copyright{
    color: #D7D7D7;
}

.footer-text, .copyright{
    font-size: 0.75rem;
}


@media (min-width: 768px) {

    body{
        grid-template-columns: 3.125em 1fr 3.125em;
    }

    .main-section {
        padding: 5.4375em 0 1.5625em 0;
    }


    .main-section > *:not(img) {
        padding-left: 4.25rem;
        padding-right: 4.25rem;
    }
    h1{
        font-size: 1.25rem;
    }
    h2{
        font-size: 2.25rem;
    }
    nav ul li{
        font-size: 1rem;
    }

    .main-date{
        font-size: 1rem;
    }

    .article-subheader{
        font-size: 1.5rem;
    }

    .articles-section a{
        font-size: 1.5rem;
    }

    header{
        padding: 1.5em 3.3125em;
    }
    
    .articles-container{ 
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 1.625em;
    }

}

@media (min-width: 1200px){
    .articles-container{ 
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}